/* background-image: radial-gradient(90px at 60px 50% , #000000 0%, #000000 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px); */

html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(left top, #510606 , #060000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #510606, #060000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #510606, #060000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #510606 , #060000); /* Standard syntax (must be last) */
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}

/* Positioning */

.board {
  margin: 50px auto;
  width: 1238px;
}

/* Styles, images for actors & movies */
.actor,
.movie,
.oscar,
.goal {
  background: #3A3930;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  margin: 5px;
  min-width: 173px;
  overflow: hidden;
  padding: 10px;
  text-align: center; 
}

.img {
  height: 100px;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 100px;
}

.actor .img {
  background-image: url('images/person.jpg');
}

.movie .img {
  background-image: url('images/movie.jpg');
}

h2 {
  margin: 0;
}

/* Site Logo */
h1 {
  color: #fff;
  font-size: 70px;
  margin: 10px 50px;
  text-align: center;
  transform: rotate(-0.03turn);
  vertical-align: top;
  width: 350px;
}

/* Message board */
.message-board {
  background: #fff;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

/* Dropdown movie results */
.active {
  background: #fff;
  color: black;
  list-style: none;
  padding: 0 15px;
  position: absolute;
}

li {
  padding: 2px 0;
}

/* Oscar */
.oscar .img {
  background-image: url('images/oscar.jpg');
}

/* Error */
.error {
  color: red;
  height: 60px;
}